//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

.row
  .col-md-6
    .panel.panel-default.panel-lg
      .panel-heading
        .huge Checkpoints
        canvas.chart.chart-doughnut(id="checkpointsOverview" chart-data="checkpointCounts" chart-labels="checkpointLabels" chart-colors="checkpointColors" chart-options="chartOptions")

  .col-md-6
    .panel.panel-default.panel-lg
      .panel-heading
        .huge Last Completed Checkpoint
      .list-group
        .list-group-item
          .row
            .col-xs-6
              | Start Time
            .col-xs-6
              .text-right
                span(ng-if="lastCompletedCheckpoint") {{ lastCompletedCheckpoint.startTime | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}
                span(ng-if="!lastCompletedCheckpoint") N/A
        .list-group-item
          .row
            .col-xs-6
              | End Time
            .col-xs-6
              .text-right
                span(ng-if="lastCompletedCheckpoint") {{ lastCompletedCheckpoint.endTime | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}
                span(ng-if="!lastCompletedCheckpoint") N/A
        .list-group-item
          .row
            .col-xs-6
              | Duration
            .col-xs-6
              .text-right
                span(ng-if="lastCompletedCheckpoint") {{ lastCompletedCheckpoint.duration | humanizeDuration:true }}
                span(ng-if="!lastCompletedCheckpoint") N/A
        .list-group-item
          .row
            .col-xs-6
              | Size
            .col-xs-6
              .text-right
                span(ng-if="lastCompletedCheckpoint") {{ lastCompletedCheckpoint.size | humanizeBytes }}
                span(ng-if="!lastCompletedCheckpoint") N/A

.panel.panel-default.panel-dashboard
  .panel-heading
    | Checkpoint Details
  .panel-body
    table.table.table-hover.table-clickable(md-table)
      thead(md-head md-order="order")
        tr(md-row)
          th(md-column md-order-by="id") ID
          th(md-column md-order-by="startTime") Start Time
          th(md-column md-order-by="endTime") End Time
          th(md-column md-order-by="numTasks") Total Tasks
          th(md-column md-order-by="numAcknowledgedTasks") Ack Tasks
          th(md-column md-order-by="duration") Duration
          th(md-column md-order-by="size") Size
          th(md-column md-order-by="status") Status

      tbody(md-body)
        tr(md-row ng-repeat="checkpoint in checkpoints | orderBy: order | limitTo: limit: ((page - 1) * limit)" ui-sref="single-job.checkpoints.checkpoint-detail({ jobid: id, checkpointid: checkpoint.id})")
          td(md-cell)
            .md-caption {{checkpoint.id}}
          td(md-cell) {{checkpoint.startTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}
          td(md-cell)
            span(ng-if="checkpoint.endTime >= 0") {{checkpoint.endTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}
            span(ng-if="checkpoint.endTime < 0") N/A
          td(md-cell) {{checkpoint.numTasks}}
          td(md-cell) {{checkpoint.numAcknowledgedTasks}}
          td(md-cell title="{{checkpoint.duration | humanizeDuration:false}}") {{checkpoint.duration | humanizeDuration:true}}
          td(md-cell) {{checkpoint.size}}
          td(md-cell)
            bs-label(status="{{checkpoint.status}}") {{checkpoint.status}}

    md-table-pagination.bg-light(md-limit="limit" md-limit-options="[5, 10, 20]" md-page="page" md-total="{{checkpoints.length}}" md-page-select)


