//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.


.panel.panel-default.panel-dashboard
  .panel-heading
    | Checkpoint {{checkpointId}}
  .panel-body
    table.table.table-hover.table-clickable(md-table)
      thead(md-head)
        tr(md-row)
          th(md-column) Name
          th(md-column) Total Tasks
          th(md-column) Ack Tasks
          th(md-column) Align Time
            md-select(ng-model="alignDurationAgg")
              md-option(ng-repeat="agg in durationAggs" value="{{agg}}" ng-selected="{{agg == 'max'}}") {{agg}}
          th(md-column) Sync Time
            md-select(ng-model="syncDurationAgg")
              md-option(ng-repeat="agg in durationAggs" value="{{agg}}" ng-selected="{{agg == 'max'}}") {{agg}}
          th(md-column) Async Time
            md-select(ng-model="asyncDurationAgg")
              md-option(ng-repeat="agg in durationAggs" value="{{agg}}" ng-selected="{{agg == 'max'}}") {{agg}}
          th(md-column) Duration
            md-select(ng-model="durationAgg")
              md-option(ng-repeat="agg in durationAggs" value="{{agg}}" ng-selected="{{agg == 'max'}}") {{agg}}
          th(md-column) Size
            md-select(ng-model="sizeAgg")
              md-option(ng-repeat="agg in sizeAggs" value="{{agg}}" ng-selected="{{agg == 'sum'}}") {{agg}}
      tbody(md-body)
        tr(md-row ng-repeat="vertex in vertices" ui-sref="single-job.checkpoints.vertex-detail({ jobid: id, checkpointid: checkpointId, vertexid: vertex.vertexId})")
          td(md-cell)
            .md-body-2 {{vertex.name}}
            .md-caption {{vertex.vertexId}}
          td(md-cell) {{vertex.numTasks}}
          td(md-cell) {{vertex.numAcknowledgedTasks}}
          td(md-cell)
            span(ng-if="vertex.metrics.alignDuration[alignDurationAgg] < 0") N/A
            span(ng-if="vertex.metrics.alignDuration[alignDurationAgg] >= 0") {{vertex.metrics.alignDuration[alignDurationAgg] | humanizeDuration:true}}
          td(md-cell)
            span(ng-if="vertex.metrics.syncDuration[syncDurationAgg] < 0") N/A
            span(ng-if="vertex.metrics.syncDuration[syncDurationAgg] >= 0") {{vertex.metrics.syncDuration[syncDurationAgg] | humanizeDuration:true}}
          td(md-cell)
            span(ng-if="vertex.metrics.asyncDuration[alignDurationAgg] < 0") N/A
            span(ng-if="vertex.metrics.asyncDuration[alignDurationAgg] >= 0") {{vertex.metrics.asyncDuration[asyncDurationAgg] | humanizeDuration:true}}
          td(md-cell)
            span(ng-if="vertex.metrics.duration[durationAgg] < 0") N/A
            span(ng-if="vertex.metrics.duration[durationAgg] >= 0") {{vertex.metrics.duration[durationAgg] | humanizeDuration:true}}
          td(md-cell)
            span(ng-if="vertex.metrics.size[sizeAgg] < 0") N/A
            span(ng-if="vertex.metrics.size[sizeAgg] >= 0") {{vertex.metrics.size[sizeAgg] | humanizeBytes}}
