
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<nav class="navbar navbar-default navbar-fixed-top navbar-main">
  <div id="fold-button" ng-click="showSidebar()" class="btn btn-default navbar-btn pull-left"><i class="fa fa-navicon"></i></div>
  <div class="navbar-title">Overview</div>
  <div class="navbar-info last first">Version: {{flinkVersion}}</div>
  <div class="navbar-info last first">Commit: {{flinkCommit}}</div>
</nav>
<div id="content-inner">
  <div class="row row-eq-height">
    <div class="col-md-6">
      <div class="panel panel-default panel-dashboard">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3"><i class="fa fa-server fa-4x"></i></div>
            <div class="col-xs-9 text-right">
              <div>Task Managers</div>
              <div class="huge">{{numTaskManagers}}</div>
            </div>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3"><i class="fa fa-gears fa-4x"></i></div>
            <div class="col-xs-9 text-right">
              <div>CPU Cores</div>
              <div class="huge">{{cpu}}</div>
            </div>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3"><i class="fa fa-database fa-4x"></i></div>
            <div class="col-xs-9 text-right">
              <div>Memory</div>
              <div class="huge">{{memory | humanizeBytes}}</div>
            </div>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3"><i class="fa fa-folder-o fa-4x"></i></div>
            <div class="col-xs-9 text-right">
              <div>Slots (Available / Total)</div>
              <div class="huge">{{numAvailableSlots}} / {{numSlots}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default panel-dashboard">
        <div class="panel-heading">
          <div class="huge">Jobs</div>
          <div overview="overview" jobcounts="jobcounts" class="main-canvas"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Running Jobs</h3>
    </div>
    <div class="panel-body">
      <table md-table="md-table" class="table table-hover table-clickable">
        <thead md-head="md-head" md-order="runningOrder">
          <tr md-row="md-row">
            <th md-column="md-column" md-order-by="name">Name</th>
            <th md-column="md-column" md-order-by="startTime">Start Time</th>
            <th md-column="md-column" md-order-by="endTime">End Time</th>
            <th md-column="md-column" md-order-by="duration">Duration</th>
            <th md-column="md-column" md-order-by="parallelism">Parallelism</th>
            <th md-column="md-column" md-order-by="status">Status</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" ng-repeat="job in runningJobs | orderBy: runningOrder" ui-sref="single-job.overview.vertices({ jobid: job.id })">
            <td md-cell="md-cell">
              <div class="md-body-2">{{job.name}}</div>
              <div class="md-caption">{{job.id}}</div>
            </td>
            <td md-cell="md-cell">{{job.startTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}</td>
            <td md-cell="md-cell"><span ng-if="job.endTime &gt;= 0">{{job.endTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}</span><span ng-if="job.endTime &lt; 0">N/A</span></td>
            <td md-cell="md-cell" title="{{job.duration | humanizeDuration:false}}">{{job.duration | humanizeDuration:true}}</td>
            <td md-cell="md-cell">{{job.parallelism}}</td>
            <td md-cell="md-cell">
              <bs-label status="{{job.status}}">{{job.status}}</bs-label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Completed Jobs</h3>
    </div>
    <div class="panel-body">
      <table md-table="md-table" class="table table-hover table-clickable">
        <thead md-head="md-head" md-order="completedOrder">
          <tr md-row="md-row">
            <th md-column="md-column" md-order-by="name">Name</th>
            <th md-column="md-column" md-order-by="startTime">Start Time</th>
            <th md-column="md-column" md-order-by="endTime">End Time</th>
            <th md-column="md-column" md-order-by="duration">Duration</th>
            <th md-column="md-column" md-order-by="parallelism">Parallelism</th>
            <th md-column="md-column" md-order-by="status">Status</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" ng-repeat="job in completedJobs | orderBy: completedOrder" ui-sref="single-job.overview.vertices({ jobid: job.id })">
            <td md-cell="md-cell">
              <div class="md-body-2">{{job.name}}</div>
              <div class="md-caption">{{job.id}}</div>
            </td>
            <td md-cell="md-cell">{{job.startTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}</td>
            <td md-cell="md-cell"><span ng-if="job.endTime &gt;= 0">{{job.endTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}</span><span ng-if="job.endTime &lt; 0">N/A</span></td>
            <td md-cell="md-cell" title="{{job.duration | humanizeDuration:false}}">{{job.duration | humanizeDuration:true}}</td>
            <td md-cell="md-cell">{{job.parallelism}}</td>
            <td md-cell="md-cell">
              <bs-label status="{{job.status}}">{{job.status}}</bs-label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>