//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

nav.navbar.navbar-default.navbar-fixed-top.navbar-main
  #fold-button.btn.btn-default.navbar-btn.pull-left(ng-click='showSidebar()')
    i.fa.fa-navicon

  .navbar-title
    | Overview

  .navbar-info.last.first
    | Version: {{flinkVersion}}

  .navbar-info.last.first
    | Commit: {{flinkCommit}}

#content-inner
  .row.row-eq-height
    .col-md-6
      .panel.panel-default.panel-dashboard
        .panel-heading
          .row
            .col-xs-3
              i.fa.fa-server.fa-4x
            .col-xs-9.text-right
              div Task Managers
              .huge {{numTaskManagers}}

        .panel-heading
          .row
            .col-xs-3
              i.fa.fa-gears.fa-4x
            .col-xs-9.text-right
              div CPU Cores
              .huge {{cpu}}

        .panel-heading
          .row
            .col-xs-3
              i.fa.fa-database.fa-4x
            .col-xs-9.text-right
              div Memory
              .huge {{memory | humanizeBytes}}
        .panel-heading
          .row
            .col-xs-3
               i.fa.fa-folder-o.fa-4x
            .col-xs-9.text-right
              div Slots (Available / Total)
              .huge {{numAvailableSlots}} / {{numSlots}}

    .col-md-6
      .panel.panel-default.panel-dashboard
        .panel-heading
          .huge Jobs
          div.main-canvas(overview jobcounts="jobcounts")

  .panel.panel-default
    .panel-heading
      h3.panel-title Running Jobs
    .panel-body

      table.table.table-hover.table-clickable(md-table)
        thead(md-head md-order="runningOrder")
          tr(md-row)
            th(md-column md-order-by="name") Name
            th(md-column md-order-by="startTime") Start Time
            th(md-column md-order-by="endTime") End Time
            th(md-column md-order-by="duration") Duration
            th(md-column md-order-by="parallelism") Parallelism
            th(md-column md-order-by="status") Status

        tbody(md-body)
          tr(md-row ng-repeat="job in runningJobs | orderBy: runningOrder" ui-sref="single-job.overview.vertices({ jobid: job.id })")
            td(md-cell)
              .md-body-2 {{job.name}}
              .md-caption {{job.id}}
            td(md-cell) {{job.startTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}
            td(md-cell)
              span(ng-if="job.endTime >= 0") {{job.endTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}
              span(ng-if="job.endTime < 0") N/A
            td(md-cell title="{{job.duration | humanizeDuration:false}}") {{job.duration | humanizeDuration:true}}
            td(md-cell) {{job.parallelism}}
            td(md-cell)
              bs-label(status="{{job.status}}") {{job.status}}

  .panel.panel-default
    .panel-heading
      h3.panel-title Completed Jobs
    .panel-body

      table.table.table-hover.table-clickable(md-table)
        thead(md-head md-order="completedOrder")
          tr(md-row)
            th(md-column md-order-by="name") Name
            th(md-column md-order-by="startTime") Start Time
            th(md-column md-order-by="endTime") End Time
            th(md-column md-order-by="duration") Duration
            th(md-column md-order-by="parallelism") Parallelism
            th(md-column md-order-by="status") Status

        tbody(md-body)
          tr(md-row ng-repeat="job in completedJobs | orderBy: completedOrder" ui-sref="single-job.overview.vertices({ jobid: job.id })")
            td(md-cell)
              .md-body-2 {{job.name}}
              .md-caption {{job.id}}
            td(md-cell) {{job.startTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}
            td(md-cell)
              span(ng-if="job.endTime >= 0") {{job.endTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}
              span(ng-if="job.endTime < 0") N/A
            td(md-cell title="{{job.duration | humanizeDuration:false}}") {{job.duration | humanizeDuration:true}}
            td(md-cell) {{job.parallelism}}
            td(md-cell)
              bs-label(status="{{job.status}}") {{job.status}}
