
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<nav class="navbar navbar-default navbar-fixed-top navbar-main">
  <div id="fold-button" ng-click="showSidebar()" class="btn btn-default navbar-btn pull-left"><i class="fa fa-navicon"></i></div>
  <div class="navbar-title">Completed Jobs</div>
</nav>
<div id="content-inner">
  <table md-table="md-table" class="table table-hover table-clickable">
    <thead md-head="md-head" md-order="completedOrder">
      <tr md-row="md-row">
        <th md-column="md-column" md-order-by="id">ID</th>
        <th md-column="md-column" md-order-by="name">Name</th>
        <th md-column="md-column" md-order-by="startTime">Start Time</th>
        <th md-column="md-column" md-order-by="endTime">End Time</th>
        <th md-column="md-column" md-order-by="duration">Duration</th>
        <th md-column="md-column" md-order-by="parallelism">Parallelism</th>
        <th md-column="md-column" md-order-by="status">Status</th>
      </tr>
    </thead>
    <tbody md-body="md-body">
      <tr md-row="md-row" ng-repeat="job in completedJobs | orderBy: completedOrder" ui-sref="single-job.overview.vertices({ jobid: job.id })">
        <td md-cell="md-cell">{{job.id}}</td>
        <td md-cell="md-cell">{{job.name}}</td>
        <td md-cell="md-cell">{{job.startTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}</td>
        <td md-cell="md-cell"><span ng-if="job.endTime &gt;= 0">{{job.endTime | amDateFormat:'YYYY-MM-DD, H:mm:ss'}}</span><span ng-if="job.endTime &lt; 0">N/A</span></td>
        <td md-cell="md-cell" title="{{job.duration | humanizeDuration:false}}">{{job.duration | humanizeDuration:true}}</td>
        <td md-cell="md-cell">{{job.parallelism}}</td>
        <td md-cell="md-cell">
          <bs-label status="{{job.status}}">{{job.status}}</bs-label>
        </td>
      </tr>
    </tbody>
  </table>
</div>