
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<table class="table table-hover table-clickable table-activable table-inner">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>InQueue Usage
        <select ng-model="selectedInQueueUsageAgg" ng-options="agg for agg in aggs" ng-init="selectedInQueueUsageAgg='max'"></select>
      </th>
      <th>OutQueue Usage
        <select ng-model="selectedOutQueueUsageAgg" ng-options="agg for agg in aggs" ng-init="selectedOutQueueUsageAgg='max'"></select>
      </th>
      <th>Input Bytes
        <select ng-model="selectedBytesInAgg" ng-options="agg for agg in aggs" ng-init="selectedBytesInAgg='sum'"></select>
      </th>
      <th>Output Bytes
        <select ng-model="selectedBytesOutAgg" ng-options="agg for agg in aggs" ng-init="selectedBytesOutAgg='sum'"></select>
      </th>
      <th>Input Rate
        <select ng-model="selectedBytesInRateAgg" ng-options="agg for agg in aggs" ng-init="selectedBytesInRateAgg='sum'"></select>
      </th>
      <th>Output Rate
        <select ng-model="selectedBytesOutRateAgg" ng-options="agg for agg in aggs" ng-init="selectedBytesOutRateAgg='sum'"></select>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="vertex in vertices">
      <td>{{vertex['id']}}</td>
      <td>{{vertex['name']}}</td>
      <td><span ng-if="vertex['metrics']['in-pool-usage'][selectedInQueueUsageAgg] &lt; 0">N/A</span><span ng-if="vertex['metrics']['in-pool-usage'][selectedInQueueUsageAgg] &gt;= 0">{{vertex['metrics']['in-pool-usage'][selectedInQueueUsageAgg]}}</span></td>
      <td><span ng-if="vertex['metrics']['in-pool-usage'][selectedOutQueueUsageAgg] &lt; 0">N/A</span><span ng-if="vertex['metrics']['in-pool-usage'][selectedOutQueueUsageAgg] &gt;= 0">{{vertex['metrics']['out-pool-usage'][selectedOutQueueUsageAgg]}}</span></td>
      <td><span ng-if="vertex['metrics']['bytes-in'][selectedBytesInAgg] &lt; 0">N/A</span><span ng-if="vertex['metrics']['bytes-in'][selectedBytesInAgg] &gt;= 0">{{vertex['metrics']['bytes-in'][selectedBytesInAgg]}}</span></td>
      <td><span ng-if="vertex['metrics']['bytes-out'][selectedBytesOutAgg] &lt; 0">N/A</span><span ng-if="vertex['metrics']['bytes-out'][selectedBytesOutAgg] &gt;= 0">{{vertex['metrics']['bytes-out'][selectedBytesOutAgg]}}</span></td>
      <td><span ng-if="vertex['metrics']['bytes-in-rate'][selectedBytesInRateAgg] &lt; 0">N/A</span><span ng-if="vertex['metrics']['bytes-in-rate'][selectedBytesInRateAgg] &gt;= 0">{{vertex['metrics']['bytes-in-rate'][selectedBytesInRateAgg]}}</span></td>
      <td><span ng-if="vertex['metrics']['bytes-out-rate'][selectedBytesOutAgg] &lt; 0">N/A</span><span ng-if="vertex['metrics']['bytes-out-rate'][selectedBytesOutAgg] &gt;= 0">{{vertex['metrics']['bytes-out-rate'][selectedBytesOutRateAgg]}}</span></td>
    </tr>
  </tbody>
</table>